<!doctype html>

<html>
	<head>
		<title>MyFridge by Oemfoeland</title>

		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<style type="text/css">
			body {
				/*padding-top: 70px;*/
				/*background: #EEF;*/
			}
		</style>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</head>

	<body ng-app="MyFridgeApp" ng-controller="MyFridgeBase" ng-cloak>

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MyFridge</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<!--
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				-->
				<form ng-show="user" class="navbar-form navbar-right">
					<button ng-click="logout()" type="submit" class="btn btn-danger">Sign out</button>
				</form>

				<p ng-show="user" class="navbar-text navbar-right">
					Logged in as <a href="#" class="navbar-link">{{ user.email }}</a>
				</p>

				<form ng-hide="user || loggingIn" ng-submit="login()" class="navbar-form navbar-right">
					<div class="checkbox">
						<label for="loginFormEmail">Already have an account?</label>
					</div>
					<div class="form-group" ng-class="{'has-error': loginError}">
						<input class="form-control" type="text" ng-model="loginForm.email" name="email" placeholder="Email" id="loginFormEmail">
					</div>
					<div class="form-group" ng-class="{'has-error': loginError}">
						<input class="form-control" type="password" ng-model="loginForm.password" name="password" placeholder="Password">
					</div>
					
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>

				<p ng-show="loggingIn" class="navbar-text navbar-right">
					Signing in...
				</p>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div ng-view></div>

		<div class="container">
			<hr>
			<p>&copy; Jef Geskens 2013</p>
			<label ng-show="false"><input type="checkbox" ng-model="debug"> debug</label>
			<div ng-show="debug">
				<p>
					<span ng-repeat="item in debuglog">{{ item }}<br/></span>
				</p>
				<p>
					{{ userdata }}<br>
					{{ newfood }}
				</p>
			</div>
		</div>

		<script src="//cdn.firebase.com/v0/firebase.js"></script>
		<script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
		<script src="angularfire.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>

