<!doctype html>

<html>
	<head>
		<title>MyFridge by Oemfoeland</title>

		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<style type="text/css">
			body {
				/*padding-top: 70px;*/
			}
		</style>
	</head>

	<body ng-app="MyFridgeApp" ng-controller="MyFridgeController">

		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MyFridge by Oemfoeland</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<!--
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				-->
				<form ng-show="user" class="navbar-form navbar-right">
					<button ng-click="logout()" type="submit" class="btn btn-danger">Sign out</button>
				</form>

				<p ng-show="user" class="navbar-text navbar-right">
					Logged in as <a href="#" class="navbar-link">{{ user.email }}</a>
				</p>

				<form ng-hide="user || loggingIn" ng-submit="login()" class="navbar-form navbar-right">
					<div class="form-group" ng-class="{'has-error': loginError}">
						<input class="form-control" type="text" ng-model="loginForm.email" name="email" placeholder="Email" id="loginFormEmail">
					</div>
					<div class="form-group" ng-class="{'has-error': loginError}">
						<input class="form-control" type="password" ng-model="loginForm.password" name="password" placeholder="Password">
					</div>
					
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>

				<p ng-show="loggingIn" class="navbar-text navbar-right">
					Logging in...
				</p>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div class="container">
			<div ng-show="user">
				<h1>Got some new food?</h1>
				<form role="form" class="form-inline" ng-submit="add_food()">
					<div class="form-group">
						<input class="form-control" type="text" ng-model="newfood.name" placeholder="Name" focus-on="foodAdded">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" ng-model="newfood.expiry_date" placeholder="Expiry date (yyyy-mm-dd)">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" ng-model="newfood.days" placeholder="Days until expiry">
					</div>
					<button type="submit" class="btn btn-primary">Add</button>
				</form>

				<h2>What's in my fridge?</h2>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Days left</td>
							<th>Expiry date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in userdata.fridge|filter:{gone: false}|orderBy:'expiry_date'" ng-class="get_item_class(item)">
							<td>{{ item.name }}</td>
							<td>{{ get_days_left(item) }} days left</td>
							<td>{{ item.expiry_date|date:"dd/MM/yyyy" }}</td>
							<td>
								<button class="btn btn-danger btn-xs" ng-click="mark_expired(item)">Expired</button>
								<button class="btn btn-success btn-xs" ng-click="mark_gone(item)">All gone (yummy!)</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>



			<hr>
			<p>&copy; Jef Geskens 2013</p>
			<label><input type="checkbox" ng-model="debug"> debug</label>
			<div ng-show="debug">
				<p>
					<span ng-repeat="item in debuglog">{{ item }}<br/></span>
				</p>
				<p>
					{{ userdata }}<br>
					{{ newfood }}
				</p>
			</div>
		</div>


		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="//cdn.firebase.com/v0/firebase.js"></script>
		<script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
		<script src="angularfire.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
	</body>
</html>

<script>
var app = angular.module('MyFridgeApp', ['firebase']);
app.controller('MyFridgeController', ['$scope', '$timeout', 'angularFire', 'angularFireAuth', function($scope, $timeOut, angularFire, angularFireAuth){
	$scope.loggingIn = false;
	$scope.loginForm = {};

	var logger = function(msg){
		if (!$scope.debuglog)
			$scope.debuglog = [msg];
		else
			$scope.debuglog.push(msg);
	};

	var url='https://oemfoeland.firebaseio.com';

	$scope.$on("angularFireAuth:login", function(evt, user){
		$scope.loggingIn = false;
		$scope.loginError = null;
		var userUrl = url + '/users/' + $scope.user.provider + '/' + $scope.user.id;
		angularFire(userUrl, $scope, 'userdata', {}).then(function()
		{
			$timeOut(function(){
				if (!$scope.userdata.email)
					$scope.userdata.email = $scope.user.email;
			});
		});
		//angularFire(userUrl + '/fridge', $scope, 'fridge', []);
	});

	$scope.$on("angularFireAuth:logout", function(evt){
		$scope.userdata = null;
	});

	$scope.$on("angularFireAuth:error", function(evt, error){
		$scope.loggingIn = false;
		$scope.loginError = error;
	});
	
	angularFireAuth.initialize(url, {scope: $scope, 'name': 'user'})

	$scope.login = function(){
		$scope.loggingIn = true;
		angularFireAuth.login('password', 
		{
			email: $scope.loginForm.email, 
			password: $scope.loginForm.password,
			rememberMe: true
		});
		$scope.loginForm.password = '';
	};

	$scope.logout = function(){
		angularFireAuth.logout();
	};

	$scope.add_food = function(){
		var nf = $scope.newfood;
		var now = new Date();
		var expiry_date = null;

		if (nf.days)
		{
			var days = parseInt(nf.days);
			var ms = days * 1000 * 3600 * 24;
			expiry_date = new Date(now.valueOf() + ms);
		}
		else
		{
			expiry_date = new Date(nf.expiry_date);
		}

		if (!$scope.userdata.fridge)
			$scope.userdata.fridge = [];

		var new_id = $scope.userdata.fridge.length;
		$scope.userdata.fridge.push({
			id: new_id,
			name: nf.name,
			expiry_date: expiry_date,
			added: now,
			gone: false
		});
		$scope.newfood = {};
		$scope.$broadcast('foodAdded');
	};

	$scope.get_days_left = function(item){
		var now = new Date();
		return Math.round(((new Date(item.expiry_date)) - now) / (1000 * 3600 * 24));
	};

	$scope.get_item_class = function(item){
		var days = $scope.get_days_left(item);
		return {
			warning: days <= 4 && days > 2, 
			danger: days <= 2
		}
	};

	$scope.mark_gone = function(item){
		item.gone = true;
		item.when_gone = new Date();
		item.expired = false;
	};

	$scope.mark_expired = function(item){
		item.gone = true;
		item.when_gone = new Date();
		item.expired = true;
	};
}]);

app.directive('focusOn', function() {
   return function(scope, elem, attr) {
      scope.$on(attr.focusOn, function(e) {
          elem[0].focus();
      });
   };
});
</script>
